* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {

    margin-bottom: 40px;
    background-color: #0f73b6;
    color: white;
    border-radius: 10px;
}
.logo{
    display: flex;
}


.logo h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.logo img {
    height: 70px;
    width: 70px;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
.image {
    height: 400px; 
    background-image: url("/static/images/web.png");
    background-size: cover; 
    background-position: center; 
}


#hero {
    text-align: center;
    margin: 40px 0;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
    color: #1a1a2e;
}

.start-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #0f73b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.container-2 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
}

.start-btn:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

.start-btn:active {
    background-color: #062940;
    transform: scale(0.95);
}

.subjects {
    text-align: center;
    margin: 50px 0;
}

.subjects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a1a2e;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    height: 100px;
    width: 150px;
    background-color: #0f73b6;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin: 10px;
}

.card:hover {
    background-color: #3e3e60;
    transform: scale(1.05);
}

.card:active {
    background-color: #555;
    transform: scale(0.95);
}

button {
    margin-left: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 0.9rem;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
    }

    nav ul li {
        margin: 10px 5px;
    }

    nav ul li a {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.2rem;
    }
    .image {
        height: 400px; 
        background-image: url("/static/images/quiz-2432440_1280.png");
        background-size: cover; 
        background-position: center; 
    }

    .start-btn {
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    .card {
        width: 400px;
        margin: 10px auto;
    }

    .card2 {
        width: 400px;
        margin: 10px auto;
    }

    .container-2,
    .container {
        display: block;
        text-align: center;
    }

    .button {
        width: 400px;
    }

    .container .card,
    .container-2 .card2 {
        margin: 10px auto;
    }
}